{% if use_upstream %}
upstream {{ upstream_name }} {
    {% for server in upstream_servers %}
    server {{ server }};
    {% endfor %}
}
{% endif %}

server {
    listen                      {{ nginx_http_port }};
    server_name                 {{ domain_name }};

    # proxy_set_header Host $http_host;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP          $remote_addr;
    proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Server $host;

    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-XSS-Protection "1; mode=block";

    access_log  /var/log/nginx/access.log  main;

    location /server_status {
        access_log off;
        add_header 'Content-Type' 'application/json';
        return 200 '{"status": "Healthy"}';
    }

    location /nginx_status {
        stub_status;
        access_log off;
    }

    location /healthcheck {
        access_log off;
        add_header 'Content-Type' 'application/json';
        return 200 '{"status": "Healthy"}';
    }

{% if use_jenkins %}
    location /jenkins {
        proxy_pass              {{ jenkins_url }};
        charset                 utf-8;

        # proxy_redirect          http://localhost:{{ jenkins_port }} {{ redirect_jenkins_url }};
        proxy_set_header        Host              $http_host;
        proxy_set_header        X-Real-IP         $remote_addr;
        proxy_set_header        X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Proto $scheme;
        proxy_set_header        X-Forwarded-Port  $server_port;
        proxy_set_header        X-Frame-Options   SAMEORIGIN;
    }
{% endif %}

{% if use_batch %}
    location /batch {
        proxy_pass              {{ batch_url }};
        charset                 utf-8;

        proxy_set_header        Host              $http_host;
        proxy_set_header        X-Real-IP         $remote_addr;
        proxy_set_header        X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Proto $scheme;
        proxy_set_header        X-Forwarded-Port  $server_port;
    }
{% endif %}

{% if use_nexus %}
    location /nexus {
        proxy_pass              {{ nexus_url }};
        charset                 utf-8;

        proxy_set_header        Host             $host;
        proxy_set_header        X-Real-IP        $remote_addr;
        proxy_set_header        X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Host $host;
        proxy_set_header        X-Forwarded-Port $server_port;
    }
{% endif %}

{% if use_gitlab %}
    location /gitlab {
        proxy_pass              {{ gitlab_url }};
        charset                 utf-8;

        proxy_redirect          http://localhost {{ redirect_gitlab_url }}:8080;
        proxy_redirect          {{ redirect_gitlab_url }} {{ redirect_gitlab_url }}:8080;
        proxy_set_header        Host             $host;
        proxy_set_header        X-Real-IP        $remote_addr;
        proxy_set_header        X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Host $host;
        proxy_set_header        X-Forwarded-Port $server_port;
    }
{% endif %}

{% if use_jira %}
    location /jira {
        proxy_pass              {{ jira_url }};
        charset                 utf-8;

        proxy_set_header        Host             $host;
        proxy_set_header        X-Real-IP        $remote_addr;
        proxy_set_header        X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Host $host;
        proxy_set_header        X-Forwarded-Port $server_port;
    }
{% endif %}

{% if use_argocd %}
    location /argocd {
        proxy_pass              {{ argocd_url }};
        charset                 utf-8;

        proxy_redirect          off;
        proxy_set_header        Host             "{{ argocd_domain }}";
        proxy_set_header        X-Real-IP        $remote_addr;
        proxy_set_header        X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Host $host;
        proxy_set_header        X-Forwarded-Port $server_port;
    }
{% endif %}

{% if use_grafana %}
    location /grafana/api {
        proxy_pass              {{ grafana_url }}/api;
        charset                 utf-8;

        proxy_set_header        Host             "{{ grafana_domain }}";
        proxy_set_header        Origin           http://{{ grafana_domain }};
        proxy_set_header        X-Real-IP        $remote_addr;
        proxy_set_header        X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Host $host;
        proxy_set_header        X-Forwarded-Port $server_port;
        proxy_set_header        Upgrade          $http_upgrade;
        proxy_set_header        Connection       "upgrade";
        proxy_http_version      1.1;
    }

    location /grafana {
        proxy_pass              {{ grafana_url }};
        charset                 utf-8;

        proxy_set_header        Host             "{{ grafana_domain }}";
        proxy_set_header        Origin           http://{{ grafana_domain }};
        proxy_set_header        X-Real-IP        $remote_addr;
        proxy_set_header        X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Host $host;
        proxy_set_header        X-Forwarded-Port $server_port;
    }
{% endif %}

    # error_page  404              /404.html;

    # redirect server error pages to the static page /50x.html
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   html;
    }

}

{% if use_portainer %}
server {
    listen                            {{ nginx_http_port }};
    server_name                       {{ portainer_domain_name }};

    proxy_set_header Host               $host;
    proxy_set_header X-Real-IP          $remote_addr;
    proxy_set_header X-Forwarded-Server $host;
    proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;

    access_log  /var/log/nginx/portainer.access.log  main;

    location /nginx_status {
        stub_status;
        access_log off;
    }

    location /healthcheck {
        access_log off;
        return 200 "{ OK }\n";
    }

    location / {
        proxy_pass              {{ portainer_url }};
        charset                 utf-8;

        proxy_set_header        X-Forwarded-Host  $host;
        proxy_set_header        X-Forwarded-Port  $server_port;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   html;
    }

}
{% endif %}

{% if use_flame %}
server {
    listen                            {{ nginx_http_port }};
    server_name                       {{ flame_domain_name }};

    proxy_set_header Host               $host;
    proxy_set_header X-Real-IP          $remote_addr;
    proxy_set_header X-Forwarded-Server $host;
    proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;

    access_log  /var/log/nginx/flame.access.log  main;

    location /nginx_status {
        stub_status;
        access_log off;
    }

    location /healthcheck {
        access_log off;
        return 200 "{ OK }\n";
    }

    location / {
        proxy_pass              {{ flame_url }};
        charset                 utf-8;

        proxy_set_header        X-Forwarded-Host  $host;
        proxy_set_header        X-Forwarded-Port  $server_port;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   html;
    }

}
{% endif %}

{% if use_awx %}
server {
    listen                      {{ nginx_http_port }};
    server_name                 {{ awx_domain_name }};
    # server_name                 127.0.0.1;

    proxy_set_header Host               $host;
    proxy_set_header X-Real-IP          $remote_addr;
    proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Server $host;

    access_log  /var/log/nginx/awx.access.log  main;

    location /nginx_status {
        stub_status;
        access_log off;
    }

    location /healthcheck {
        access_log off;
        add_header 'Content-Type' 'application/json';
        return 200 '{"status": "Healthy"}';
    }

    location / {
        proxy_pass              {{ awx_url }};
        charset                 utf-8;

        proxy_set_header        X-Forwarded-Host $host;
        proxy_set_header        X-Forwarded-Port $server_port;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   html;
    }

}
{% endif %}
{#
{% if use_dev_ui %}
server {
    listen                      {{ nginx_http_port }};
    server_name                 {{ ui_domain_name }};
    # server_name                 127.0.0.1;

    proxy_set_header Host $host;
    proxy_set_header X-Real-IP          $remote_addr;
    proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Server $host;

    access_log  /var/log/nginx/ui.access.log  main;

    location /nginx_status {
        stub_status;
        access_log off;
    }

    location /healthcheck {
        access_log off;
        add_header 'Content-Type' 'application/json';
        return 200 '{"status": "Healthy"}';
    }

    location / {
        proxy_pass              {{ ui_url }};
        charset                 utf-8;

        proxy_set_header        X-Forwarded-Host $host;
        proxy_set_header        X-Forwarded-Port $server_port;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   html;
    }

}
{% endif %}
#}
